.HTML {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    display: block;
    width: 100%;
}
.todos {
    background: grey;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.done {
    background: grey;
    height: 100px;
    width: 100px;
    margin: 10px;
}